@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
li {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  padding: 0 8.7rem 0 10rem;
  max-width: 1512px;
}

.content-section {
  margin-bottom: 20rem;
}

.content-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.title-left:before {
  content: "";
  position: absolute;
  top: -2.6rem;
  left: 0;
  height: 0.7rem;
  width: 14.7rem;
  background: #49b649;
}

.title-right:before {
  content: "";
  position: absolute;
  top: -2.6rem;
  right: 0;
  height: 0.7rem;
  width: 14.7rem;
  background: #49b649;
}

html,
body {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
  background: #000000;
}

h1 {
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.359375;
  margin-bottom: 2.8rem;
}

h2 {
  font-size: 5.4rem;
  font-weight: 900;
  letter-spacing: 4%;
  color: #ffffff;
  line-height: 1.3703703704;
  margin-bottom: 1.4rem;
  position: relative;
}

.subtitle {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.375;
  color: #ffffff;
}

p {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.375;
  color: #ffffff;
}

.footer-title {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3571428571;
  margin-bottom: 3.8rem;
  color: #ffffff;
}

a {
  font-family: "Nunito", sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3636363636;
  transition: ease-out color 0.15s;
  color: #ffffff;
  text-decoration: none;
}

.cta {
  font-size: 2.4rem;
  font-weight: 800;
  display: inline-block;
  background: #49b649;
  cursor: pointer;
  line-height: 1.375;
  letter-spacing: 4%;
  padding: 1.5rem 4rem;
  border-radius: 1rem;
  transition: ease-out 0.15s;
}
.cta:hover {
  background: #ffffff;
  color: #49b649;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.nav-logo {
  transition: ease 0.15s;
}
.nav-logo:hover {
  opacity: 0.6;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.nav-item > a:hover {
  color: #49b649;
}
.nav-item:last-child > a {
  background: #49b649;
  border-radius: 1rem;
  padding: 0.9rem 2.5rem;
  cursor: pointer;
  transition: ease 0.15s;
}
.nav-item:last-child > a:hover {
  color: #49b649;
  background: #ffffff;
}

.hero {
  position: relative;
  padding-top: 7.7rem;
}
.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  z-index: 0;
}
.hero .container {
  display: flex;
  align-items: center;
  position: relative;
}
.hero-left {
  z-index: 2;
  flex: 0 0 55%;
}
.hero-right {
  z-index: 1;
  flex: 0 0 45%;
  position: absolute;
  top: -5%;
  right: 0;
}
.hero-title > span {
  color: #49b649;
}
.hero-subtitle {
  margin-bottom: 5.5rem;
}
.hero-cta-item:first-child {
  margin-bottom: 2rem;
}
.hero-cta-item:last-child {
  margin-bottom: 4.5rem;
}
.hero-stats {
  position: absolute;
  left: 30%;
}