.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

  &-logo {
    transition: ease 0.15s;

    &:hover {
      opacity: 0.6;
    }
  }

  &-list {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  &-item > a:hover {
    color: $green;
  }

  &-item:last-child > a {
    background: $green;
    border-radius: 1rem;
    padding: 0.9rem 2.5rem;
    cursor: pointer;
    transition: ease 0.15s;

    &:hover {
      color: $green;
      background: $white;
    }
  }
}
